<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title >
</head>
<body>
	<div class="new_date">
		<%= htmlWebpackPlugin.options.date %>
		<!-- 对插件进行遍历 -->
		<% for (var key in htmlWebpackPlugin) { %>
			<%= key %>
		<% } %>
		<!-- 对options进行遍历 -->
		<% for (var key in htmlWebpackPlugin.options) { %>
			<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
		<% } %>

		<!-- 对flies进行遍历 -->
		<% for (var key in htmlWebpackPlugin.files) { %>
			<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
		<% } %>
	</div>

</body>
</html>